@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');


a::selection, p::selection {
    background-color: transparent;
    color: currentColor;
}

.main-content {
    width: 100%;
    height: auto;
}

#warning {
    margin-bottom: .5em;
    margin-top: .5em;
    text-align: center;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    font-size: 2em;
    color: red;
}

.asked-zodiac, .asked-zodiac-subtitle {
    color: white;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.asked-zodiac {
    font-size: 4.5em;
}

.asked-zodiac-subtitle {
    font-size: 1.7em;
    margin-bottom: 1%;
}

.icon-container {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: .75em;
    grid-row-gap: 0.5em;
}

.icon-container a {
    text-align: center;
    font-size: 3em;
    border: 1px solid white;
    text-decoration: none;
    z-index: 50;
}

.icon-container a:hover {
    background-color: white;
    cursor: pointer;
}

.icon-container a::selection {
    background-color: transparent;
}

.data-board {
    max-width: 70%;
    border: 1px solid white;
    margin: 1em auto;

    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

#start-btn {
    font-family: 'Kanit', sans-serif;
    height: 100%;
    padding: 1em;
    background-color: #2aa7ff;
    color: white;
    text-decoration: none;
}

#start-btn:hover {
    background-color: #078aec;
    cursor: pointer;
}

#start-btn:active {
    cursor: not-allowed;
}

#start-btn::selection {
    background-color: transparent;
    color: currentColor;
}

#timer, #score, #share {
    margin: 0;
    padding: 1em;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    height: 100%;
    background-color: #2aa7ff;
    color: white;
}

#share {
    background-color: #2ada2f;
}

#timer:hover, #score:hover {
    cursor: default;
}

#share:hover {
    cursor: pointer;
    background-color: #1bc51f;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

#github-credit {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

#gh-link {
    padding-left: .2em;
}

@media screen and (max-width: 541px) {

    .icon-container {
        margin: 0 auto;
    }
    .data-board {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: .1em;
        grid-row-gap: 0.1em;
        & a, & p {
            border: 1px solid white;
        }
    }
}

@media screen and (max-width: 370px) {
    .asked-zodiac {
        font-size: 3em;
    }

    .asked-zodiac-subtitle {
        font-size: .65em;
        margin-bottom: 1%;
    }
}